

.background {
    margin-top: initial;
    position: relative;

    display: compact;
    justify-content: center;
    left: auto;
    right: auto;
    margin-outside: auto;
    margin-bottom: auto;
    height: 100vh;
    width: 100%;
    z-index: -50;


}
@media only screen and (max-width: 600px) {

    a.btn {
        width: 45px;
        height: 45px;
        font-size: 5px;
    }

    a.btn i {
        font-size: 13px;
        line-height: 35px;
    }



}